extends layout
block variables
    include variables
block append scripts
    script(src="/javascripts/scriptAttendance.js")
block content
    main.my-form
        .cotainer
            .row.justify-content-center
                .col-md-10
                    .card
                        .card-header Посещаемость
                        .card-body
                            div(class="tab-pane active" id="tab2")
                                input(type='text', name='selectDay' class='form-control', placeholder='Выбрать день' id="selectDay")
                                table#table1.table.table-bordered.table-responsive
                                    tbody
                                        tr
                                            th
                                                th#weekd День
                                                //each val in weekday
                                                    th(id=val.name)= val.name
                                    tr#subjects
                                        tbody
                                            each val in listStudents
                                                tr(id=val.studentId class="check")
                                                    td(class="student") #{val.lastname} #{val.firstname} #{val.secondname}
                                        tr(class="check2")
                                            td Выбрать всех

                            //form(name='my-form', action='/saveAttendance', method='post')
                            //form
                            .col-md-6.offset-md-4
                                label.col-md-4.col-form-label.text-md-right Выбрать занятие
                                select(id='selectPair' class='form-control')
                                label.col-md-4.col-form-label.text-md-right Проверочный код
                                input(type='text' id='code' class='form-control required', placeholder='Код')
                            .col-md-6.offset-md-4
                                button.btn.btn-primary(type='submit' onclick='saveResults()')
                                    | Сохранить
                            #message
                            if message
                            h1.text-center.error-message #{message}


