extends layout
block variables
  include variables
block content
  br
  .container
    h2= "Изменение данных куратора"
    br
    form(action='/curator/'+val.id, method='post')
      .form-row
        div(class="col-lg-2 col-md-2 col-sm-2 col-xs-6 mb-3")
          input(name='lastname', class="form-control" type="text" value=val.lastname)
        div(class="col-lg-2 col-md-2 col-sm-2 col-xs-6 mb-3")
          input(name='firstname', class="form-control" type="text" value=val.firstname)
        div(class="col-lg-2 col-md-2 col-sm-2 col-xs-6 mb-3")
          input(name='secondname', class="form-control" type="text" value=val.secondname)
        div(class="col")
          input(type='submit',class="btn btn-primary", value='Изменить')
          font()=" "
          a(class="btn btn-secondary" href='/listCurators' role="button") Отмена
