extends layout
block variables
  include variables
block content
  br
  .container
    h2="Изменить разрешение"
    .account-wall
      if idStudent===0
        p(class="text-center") Вы не можете редактировать этот атрибут
      else
        form(id="changeParentPermission" action='/parentPermission', method='POST')
          label(class="text-form") #{pln} #{pfn} #{psn}
          br
          if permited===0
            input(type='checkbox', id='permission', name='permission', checked='true')
          else
            input(type='checkbox', id='permission', name='permission')
          button(class='btn btn-lg btn-primary btn-block mt-2', type='submit') Сохранить

        div(id="message")
        if message
          div(class="text-center error-message") #{message}