extends layout
block variables
    include variables
block append scripts
    script(src="/javascripts/scriptReports.js")
block content
    main.my-form
        input#idTeacher(type='hidden' value=idTeacher)
        input#idStudent(type='hidden' value=idStudent)
        input#idParent(type='hidden' value=idParent)
        .cotainer
            .row.justify-content-center
                .col-md-10
                    .card
                        .card-header Отчеты
                        .card-body
                            .row
                                .col-2
                                    input(type='text' name='selectDayBegin' class='form-control' id="selectDayBegin")
                                .col-2
                                    input(type='text' name='selectDayEnd' class='form-control' id="selectDayEnd")
                            .row
                                .col-2
                                    label.col-form-label Выбрать группу
                                    select(id='selectGroupReports' class='form-control')
                                        option(value=0)
                                        each val in studyGroups
                                            option(value=val.id) #{val.name}
                                .col-3
                                    label.col-form-label Выбрать предмет
                                    select(id='selectSubjectReports' class='form-control')
                                .col-3
                                    label.col-form-label Выбрать студента
                                    select(id='selectStudentReports' class='form-control')
                                .col
                                    button.btn.btn-primary(type='submit' onclick='getReport()')
                                        | Получить
                                    #message
                                    if message
                                    h2.text-center.error-message #{message}

                            ul#myTab.nav.nav-tabs(role='tablist')
                                li.nav-item
                                    a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Таблица
                                li.nav-item
                                    a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') График
                            #myTabContent.tab-content
                                #home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
                                    table#tableReports.table.table-bordered.table-responsive
                                        tr
                                            th ФИО
                                            th Количество пропусков
                                        tbody#addRows

                                    table#tableReports2.table.table-bordered.table-responsive
                                        tr
                                            th Дата
                                            th тип
                                            th комментарий
                                        tbody#addRows2
                                #profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
                                    .chart-container(style='position: relative; width:40%')
                                        canvas#results-chart(width='200', height='200')


